{% extends "base.html" %}



{% block body %}
<div class="container">
    <h1>User Profile : {{user.username}}</h1>
    <div class="row">
        <div class="col-md-4">
            <div class="profile-picture">
                <img src="{{ user.profile_picture.url }}" alt="Profile Picture" class="img-fluid">
            </div>
        </div>
        <div class="col-md-8">
            <div class="user-details">
                <p><strong>First Name:</strong> {{user.first_name}}</p>
                <p><strong>Last Name:</strong> {{ user.last_name }}</p>
                <p><strong>Email:</strong> {{ user.email }}</p>
                <p><strong>Bio:</strong> {{ user.bio }}</p>
            </div>
        </div>
    </div>
</div>



{% endblock %}