{% extends "base.html" %}
{% load crispy_forms_tags %}


{% block sidepanel %}
<div class="col-md-3">
    <div class="card p-3" style="background-color: #f8f9fa; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);">
        <h5 class="card-title">Categories</h5>
        <ul class="list-group">
            <li class="list-group-item list-group-item-action">Category 1</li>
            <li class="list-group-item list-group-item-action">Category 2</li>
            <li class="list-group-item list-group-item-action">Category 3</li>
        </ul>
    </div>
    <div class="card p-3 mt-3" style="background-color: #f8f9fa; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);">
        <h5 class="card-title">Tags</h5>
        <div class="d-flex flex-wrap">
            <span class="badge badge-primary mr-2 mb-2 tag-item">Tag 1</span>
            <span class="badge badge-primary mr-2 mb-2 tag-item">Tag 2</span>
            <span class="badge badge-primary mr-2 mb-2 tag-item">Tag 3</span>
            <span class="badge badge-primary mr-2 mb-2 tag-item">Tag 4</span>
            <span class="badge badge-primary mr-2 mb-2 tag-item">Tag 5</span>
        </div>
    </div>
</div>
{% endblock %}
    

{% block body %}
    

   


    <div class="container align-items-center justify-content-center">
        <div class="row">
      
            <div class="col-12" style="background-color: blanchedalmond;">
                
                    <form method="POST" class="card p-3 mt-5" action="{% url 'stackapp:ask_questions' %}">
                        {% csrf_token %}
                        {{form|crispy}}
                        <button type="submit" class="btn btn-primary" value="Submit" name="submit">Submit</button>
                    </form>

                    
                </dic>
            </div>
        </div>
    </div>


{% endblock %}